thead {
  background: #888;
}

td {
  padding: 20px;
  border: solid 5px black;
}

header {
  width: 100%;
  height: 200px;
  background-color: #260D3D;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 100px;
}

header img {
  width: 300px;
  length: 400px;
}

body {
  background: #0DAE38;
  background-size: 10%;
}

main {
  width: 700px;
  padding-top: 100px;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

ul li {
  font-size: 25px;
  text-align: center;
}

#one {
  font-size: 25px;
  text-align: center;
}

.two {
  float: left;
  padding-top: 20px;
  padding-right: 30px;
}
